.movieWrapper {
        display: flex;
        flex-wrap: wrap;
        margin: -4px; /* Adjust this value to control spacing between movies */
    }
    
    .movieItem {
        flex: 0 0 calc(33.33% - 20px); /* Adjust this value for responsiveness and spacing */
        margin: 4px; /* Adjust this value for spacing between movies */
        box-sizing: border-box;
    }
    